.form-control::placeholder {
    color: #0f0f0f;
}

.logo  img{
    width: 100%;
    max-width: 100px;
}

.error {
    color: red;
}
.notification {
    max-width: 100%;
    padding: calc(70px + 25px) 25px 25px;
}
.company.page-container .main-content,
.user-panel.page-container .main-content {
    padding: calc(2px) 25px 25px;
}
